<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unswit.usercenter.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.unswit.usercenter.model.domain.Course">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="title" column="title" />
            <result property="category" column="category" />
            <result property="toolTip" column="toolTip" />
            <result property="runTime" column="runTime" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,title,category,toolTip,runTime,
        createTime,updateTime,isDelete
    </sql>
</mapper>
