<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unswit.usercenter.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.unswit.usercenter.model.domain.Post">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="title" column="title" />
            <result property="images" column="images" />
            <result property="content" column="content" />
            <result property="likeCount" column="likeCount" />
            <result property="commentCount" column="commentCount" />
            <result property="status" column="status" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,title,images,content,likeCount,
        commentCount,status,createTime,updateTime,isDelete
    </sql>
</mapper>
